<div class="mermaid-wrapper" data-mermaid-wrapper>
  <div class="mermaid-toolbar" data-mermaid-toolbar>
    <button type="button" class="mermaid-zoom-button" data-mermaid-zoom-out>
      －
    </button>
    <span class="mermaid-zoom-level" data-mermaid-zoom-level>100%</span>
    <button type="button" class="mermaid-zoom-button" data-mermaid-zoom-in>
      ＋
    </button>
    <button type="button" class="mermaid-zoom-button" data-mermaid-zoom-reset>
      重置
    </button>
  </div>
  <pre class="mermaid">{{- .Inner | strings.TrimSpace | htmlEscape | safeHTML -}}</pre>
</div>
<script type="module">
  import initMermaid from '{{ "js/mermaid-init.js" | relURL }}';
  initMermaid();
</script>
